/* Css Changes Related to India map */
.rg_tranfer_value
{
    text-align: center;
    font-size: 12px;
}
.outer_div {
    position: relative;
}
.rg_Name
{
    text-align: center;
    font-size: 12px;
}

.north {
    fill: #ffc46c;
    fill-opacity: 1;
    stroke: #ffc46c;
/*    cursor: pointer;*/
}

/*.north:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}*/

.west {
    fill: #ffc1e2;
    fill-opacity: 1;
    stroke: #ffc1e2;
/*    cursor: pointer;*/
}

/*.west:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}*/

.south {
    fill: #bfb5ed;
    fill-opacity: 1;
    stroke: #bfb5ed;
}

/*.south:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}*/

.east {
    fill: #80ffce;
    fill-opacity: 1;
    stroke: #80ffce;
/*    cursor: pointer;*/
}

/*.east:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}*/

.northeast {
    fill: #7cedff;
    fill-opacity: 1;
    stroke: #7cedff;
/*    cursor: pointer;*/
}

/*.northeast:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}*/

.nepal {
    fill: #f7f39d;
    fill-opacity: 1;
    stroke: #f7f39d;
}

.Island {
    fill: #eeeeed;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

/*.Island:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}*/

.Nepal_map {
    position: absolute;
    top: 293px;
    left: 313px;
}

.bangladesh {
    fill: #30f032;
    fill-opacity: 1;
    stroke: #fff;
}

.bhutan {
    fill: #ffbef7;
    fill-opacity: 1;
    stroke: #fff;
}


.WR_ER_transfer
{
    position: absolute;
    z-index: 1;
    left: 360px;
    top: 510px;
}
.SR_ER_transfer
{
    position: absolute;
    z-index: 1;
    left: 400px;
    top: 575px;
}

.NR_ER_transfer
{
    position: absolute;
    z-index: 1;
    left: 345px;
    top: 390px;
}
.NR_WR_transfer
{
    position: absolute;
    z-index: 1;
    left: 280px;
    top: 370px;
}
.NR_NER_transfer
{
    position: absolute;
    z-index: 1;
    left: 360px;
    top: 424px;
}
.NR_Ne_transfer
{
    position: absolute;
    z-index: 1;
    left: 300px;
    top: 305px;
}
.NER_Bg_transfer
{
    position: absolute;
    z-index: 1;
    left: 570px;
    top: 475px;
}
.NER_ER_transfer
{
    position: absolute;
    z-index: 1;
    left: 600px;
    top: 395px;
}
.ER_Ne_transfer
{
    position: absolute;
    z-index: 1;
    left: 495px;
    top: 365px;
}
.Bh_ER_transfer
{
    position: absolute;
    z-index: 1;
    left: 565px;
    top: 365px;
}
.Bh_NER_transfer
{
    position: absolute;
    z-index: 1;
    left: 660px;
    top: 380px;
}
.nr_title
{
    position: absolute;
    top: 353px;
    left: 206px;
    line-height: 1px;
}
.sr_title
{
    position: absolute;
    top: 728px;
    left: 235px;

}
.wr_title
{
    position: absolute;
    top: 515px;
    left: 225px;
}
.er_title
{
    position: absolute;
    top: 475px;
    left: 445px;

}
.ner_title
{
    position: absolute;
    top: 294px;
    left: 648px;
}
.bg_title
{
    position: absolute;
    top: 444px;
    left: 547px;

}
.bh_title
{
    position: absolute;
    top: 342px;
    left: 565px;

}
.np_title
{
    position: absolute;
    top: 351px;
    left: 421px;
}
