/*Dipti Media Query Start*/
@media (min-width:320px) and (max-width:360px)
{
    .mobile_nav
    {
        display: block;
    }
    .mobile_header
    {
        font-size: 20px;
        line-height: 20px;
        padding: 10px 0px;
    }

    .app_title
    {
        text-align: center;
        font-size: 16px;
        padding: 18px 0px !important;
    }
    .sub_title
    {
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 0px;
    }
    .nav_box
    {
        padding: 15px;
        font-size: 12px;
        height: 75px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
        margin-top: 30%;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px !important;
    }
    .divChart
    {
        display:block;
        padding-top: 25px;
        width: 300px;
        overflow-x: auto;
    }
    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {
        width: 100% !important;
        overflow-x: auto;
    }
    #Menu_bar
    {
        font-size: 35px;
    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header_Inter
    {
        display: block;
    }
    .sub_header
    {
        display: block;
        margin-bottom: 7px;
    }

    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 12px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }   
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 5px;
        font-size: 14px;
    }
    .dygraph-legend
    {
        left: 100px !important;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 10px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 10px 0px !important;
        font-size: 18px !important;
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 12px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 12px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 12px;
        padding-top: 20px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 110px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;

    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .Menu_Link
    {
        display: block;
        padding-top: 3px;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 375px !important;*/
        top: 312px !important;        
        width : 12px !important;
        height: 20px !important;
    }
    .table_design
    {
        /*        width: 60% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .padding_head
    {
        padding: 18px 10px 18px 10px  !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        /*display: inline;*/
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
    .MobileMenuSection
    {
        /*height: 40%;*/
    }
    .title_org1
    {
        font-size: 22px;
    }
}

@media (min-width:361px) and (max-width:375px)
{

    .mobile_nav
    {
        display: block;
    }
    .mobile_header
    {
        font-size: 25px;
        line-height: 25px;
        padding: 12px 0px;
    }
    .app_title
    {
        text-align: center;
        font-size: 19px;
        padding: 18px 0px !important;
    }
    .sub_title
    {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px;
    }
    .nav_box
    {
        padding: 15px;
        font-size: 14px;
        height: 100px;
        font-size: 14px;
    }.Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /*    .MenuMobileView
        {
            display:none;
        }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
        padding-top: 25px;
        width: 300px;
        overflow-x: auto;
    }

    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {

        width: 100% !important;
    }
    #Menu_bar
    {
        font-size: 35px;
    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;display: none;*/
        display: block;
        padding-bottom: 5px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 12px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .dygraph-legend
    {
        left: 100px !important;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 10px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 10px 0px !important;
        font-size: 18px !important;
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 12px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 12px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 12px;
        padding-top: 20px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 110px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .Menu_Link
    {
        display: block;
        padding-top: 5px;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 375px !important;*/
        top: 312px !important;    
        width : 12px !important;
        height: 20px !important;
    }
    .table_design
    {
        /*        width: 60% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .padding_head
    {
        padding: 18px 10px 18px 10px  !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        /*display: inline;*/
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
    .MobileMenuSection
    {
        /*height: 40%;*/
    }
    .title_org1
    {
        font-size: 26px;
    }

}

@media(min-width:376px) and (max-width:384px)
{
    .mobile_nav
    {
        display: block;
    }
    .mobile_header
    {
        font-size: 25px;
        line-height: 25px;
        padding: 12px 0px;
    }
    .app_title
    {
        text-align: center;
        font-size: 19px;
        padding: 18px 0px !important;
    }
    .sub_title
    {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px;
    }
    .nav_box
    {
        padding: 15px;
        font-size: 14px;
        height: 100px;
        font-size: 14px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /*    .MenuMobileView
        {
            display:block;
        }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
        padding-top: 25px;
        width: 300px;
        overflow-x: auto;

    }   

    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {
        width: 100% !important;

    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 12px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }   
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        display: block;       
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .dygraph-legend
    {
        left: 100px !important;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 10px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 6px 0px !important;
        font-size: 18px !important;
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 12px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 12px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 12px;
        padding-top: 20px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 120px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .Menu_Link
    {
        display: block;
        padding: 5px 0px;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 375px !important;*/
        top: 312px !important;    
        width : 12px !important;
        height: 20px !important;
    }
    .table_design
    {
        /*        width: 60% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .padding_head
    {
        padding: 18px 10px 18px 10px  !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        /*display: inline;*/
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
    .MobileMenuSection
    {
        /*height: 40%;*/
    }
    .title_org1
    {
        font-size: 26px;
    }
}

@media(min-width:385px) and (max-width:412px)
{
    .mobile_nav
    {
        display: block;
    }
    .mobile_header
    {
        font-size: 25px;
        line-height: 25px;
        padding: 12px 0px;
    }
    .app_title
    {
        text-align: center;
        font-size: 20px;
        padding: 18px 0px !important;
    }
    .sub_title
    {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px;
    }
    .nav_box
    {
        padding: 20px;
        font-size: 14px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /*    .MenuMobileView
        {
            display:block;
        }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
        padding-top: 25px;
        width: 350px;
        overflow-x: auto;
    }   

    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {

        width: 100% !important;
    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }  
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        display: block;       
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .dygraph-legend
    {
        left: 100px !important;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 5px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 9px 0px !important;
        font-size: 18px !important;
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 12px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 12px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 12px;
        padding-top: 20px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 120px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .Menu_Link
    {
        display: block;
        padding: 3px 0px;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 375px !important;*/
        top: 312px !important;    
        width : 12px !important;
        height: 20px !important;
    }
    .table_design
    {
        /*        width: 60% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .padding_head
    {
        padding: 18px 10px 18px 10px  !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        /*display: inline;*/
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
    .MobileMenuSection
    {
        /*height: 40%;*/
    }
    .title_org1
    {
        font-size: 26px;
    }
}

@media(min-width:413px) and (max-width:460px)
{
    .mobile_nav
    {
        display: block;
    }
    .mobile_header
    {
        font-size: 25px;
        line-height: 25px;
        padding: 12px 0px;
    }
    .app_title
    {
        text-align: center;
        font-size: 21px;
        padding: 20px 0px !important;
    }
    .sub_title
    {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px;
    }
    .nav_box
    {
        padding: 25px;
        font-size: 15px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /*    .MenuMobileView
        {
            display:block;
        }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
        padding-top: 25px;
        /*        width: 410px;*/
        overflow-x: auto;

    } 

    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {

        width: 100% !important;
    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }   
    .MapPosition
    {
        padding-left: 60px !important;
    }
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        display: block;      
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .dygraph-legend
    {
        left: 80px !important;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 5px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 9px 0px !important;
        font-size: 18px !important;
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 12px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 12px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 12px;
        padding-top: 20px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 115px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .Menu_Link
    {
        display: block;
        padding: 3px 0px;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 370px !important;*/
        top: 307px !important;    
        width : 15px !important;
        height: 25px !important;
    }
    .table_design
    {
        /*        width: 65% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .padding_head
    {
        padding: 18px 10px 18px 10px !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        /*display: inline;*/
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
    .MobileMenuSection
    {
        /*height: 40%;*/
    }
    .title_org1
    {
        font-size: 26px;
    }
}

@media(min-width:461px) and (max-width:600px)
{
    .mobile_nav
    {
        display: block;
    }
    .mobile_header
    {
        font-size: 30px;
        line-height: 25px;
        padding: 15px 0px;
    }
    .app_title
    {
        text-align: center;
        font-size: 24px;
        padding: 20px 0px !important;
    }
    .sub_title
    {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px;
    }
    .nav_box
    {
        padding: 30px;
        font-size: 16px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    } 
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /*    .MenuMobileView
        {
            display:none;
        }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
        /*        width: 460px;*/
        overflow-x: auto;
        padding-top: 25px;
    }  

    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {
        width: 100% !important;

    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }  
    .MapPosition
    {
        padding-left: 60px !important;
    }   
    .Generation_Name
    {
        text-align: center;
    }  
    .control_section
    {
        display: block;
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .dygraph-legend
    {
        left: 80px !important;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 10px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 9px 0px !important;
        font-size: 18px !important;
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 12px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 12px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 12px;
        padding-top: 20px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 115px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .date_control
    {
        padding-left: 12px !important;
    }
    .Menu_Link
    {
        display: block;
        padding: 5px 0px; 

    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 375px !important;*/
        top: 307px !important;    
        width : 15px !important;
        height: 25px !important;
    }
    .table_design
    {
        /*        width: 65% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        /*display: inline;*/
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
    .MobileMenuSection
    {
        /*height: 40%;*/
    }
    .title_org1
    {
        font-size: 26px;
    }
}

@media(min-width:601px) and (max-width:640px)
{
    .mobile_nav
    {
        display: block;
    }
    .mobile_header
    {
        font-size: 30px;
        line-height: 30px;
        padding: 15px 0px;

    }
    .app_title
    {
        text-align: center;
        font-size: 30px;
        padding: 20px 0px !important;
    }
    .sub_title
    {
        font-size: 13px;
        margin-bottom: 0px;
    }
    .nav_box
    {
        padding: 30px;
        font-size: 16px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /*    .MenuMobileView
        {
            display:block;
        }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
        padding-left: 60px !important;
        padding-top: 25px;
    }   

    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {

        width: 100% !important;
    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }    
    .MapPosition
    {
        padding-left: 65px !important;
    }
    .dygraph-title
    {
        margin-top: -20px !important;
    }
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        display: block;     
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 5px;
    }   
    .dygraph-legend
    {
        left: 80px !important;
    }

    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 10px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 17px 0px !important;
        font-size: 18px !important; 
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 14px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 14px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 15px;
        padding-top: 10px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 115px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .date_control
    {
        padding-left: 50px !important;
    }
    .Menu_Link
    {
        display: block;
        padding: 3px 0px; 
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 370px !important;*/
        top: 307px !important;    
        width : 15px !important;
        height: 25px !important;
    }
    .table_design
    {
        /*        width: 65% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        /*display: inline;*/
        display: none;
    }
    .desktop_link
    {
        display: none;
    }

}

@media(min-width:641px) and (max-width:767px)
{
    .app_title
    {
        text-align: center;
        font-size: 30px;
        padding: 18px 0px !important; 
    }
    .sub_title
    {
        font-size: 15px;
    }
    .nav_box
    {
        padding: 50px;
        font-size: 20px;
    }
    .mobile_header
    {
        font-size: 35px;
        line-height: 30px;
        padding: 15px 0px;
    }.Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /* .MenuMobileView
     {
         display:block;
     }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
        padding-left: 60px !important;
        padding-top: 25px;
    }   

    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {

        width: 100% !important;
    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }    
    .MapPosition
    {
        padding-left: 70px !important;
    }
    .dygraph-title
    {
        margin-top: -22px !important;
    }
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        display: block;       
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 10px;
    }  
    .dygraph-legend
    {
        left: 80px !important;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 15px 0px !important;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 20px 0px !important;
        font-size: 18px !important; 
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 14px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 14px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 15px;
        padding-top: 10px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 115px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;

    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .date_control
    {
        padding-left: 50px !important;
    }
    .Menu_Link
    {
        display: block;
        padding: 3px 0px;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 370px !important;*/
        top: 307px !important;    
        width : 15px !important;
        height: 25px !important;
    }
    .table_design
    {
        /*        width: 65% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
}

@media(min-width:768px) and (max-width:800px)
{
    .app_title
    {
        text-align: center;
        font-size: 34px;
    }
    .sub_title
    {
        font-size: 15px;
    }
    .nav_box
    {
        padding: 50px;
        font-size: 20px;
    }
    .mobile_header
    {
        font-size: 35px;
        line-height: 30px;
        padding: 15px 0px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /* .MenuMobileView
     {
         display:block;
     }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
    }   

    .TopMargin{
        margin-top: 10px !important;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {

        width: 100% !important;
    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }   
    .MapPosition
    {
        padding-left: 70px !important;
    }
    .Generation_Name
    {
        text-align: center;
    }
    .control_section
    {
        display: block;       
        padding: 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 15px 0px !important;
        line-height: 35px;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 18px 0px !important;
        font-size: 18px !important; 
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 14px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 14px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 15px;
        padding-top: 10px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 115px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;

    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .date_control
    {
        padding-left: 50px !important;
    }
    .Menu_Link
    {
        display: block;
        padding: 3px 0px;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 375px !important;*/
        top: 307px !important;    
        width : 15px !important;
        height: 25px !important;
    }
    .table_design
    {
        /*        width: 65% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        display: none;
    }
    .desktop_link
    {
        display: none;
    }
}

@media(min-width:801px) and (max-width:991px)
{
    .mobile_header
    {
        font-size: 35px;
        line-height: 30px;
        padding: 15px 0px;
    }
    .app_title
    {
        text-align: center;
        font-size: 34px;
    }
    .sub_title
    {
        font-size: 15px;
    }
    .nav_box
    {
        padding: 50px;
        font-size: 20px;
    }
    .Header_Menu 
    {
        display:block;
    }
    .Header_Logo
    {
        display:none;
    }
    .divToggel
    {
        display:block;
    }
    .chart-table-toggle{
        display:block;
    }
    /*    .MenuMobileView
        {
            display:block;
        }*/
    .MenuView
    {
        display:none;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:block;
    }
    .footer-mobile-menu{
        display:block;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:none;
    }
    .faq_link{
        display:none;
    }
    .mobile-inter-regional-value{
        font-size: 12px;
    }
    .mobile-inter-regional-value_frq
    {
        font-size: 12px;
    }
    .div-inter-regional-icon{
        padding-top: 3px;
    }
    .divChart
    {
        display:block;
    }   
    .TopMargin{
        margin-top: 10px !important;
        cursor: text;
    }
    .SeprateLine{
        display: block;
        border-bottom:2px solid orange;
    }
    .divTable
    {
        width: 100% !important;

    }
    .app_title_table
    {
        text-align: center;
        font-size: 40px;
    }
    .sub_title_table
    {
        font-size: 25px;
    }
    .sub_header
    {
        /*        font-size: 14px;
                padding: 12px;
                height: 55px;*/
        display: block;
        padding-bottom: 7px;
    }
    .headerLogo
    {
        padding: 5px;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
        text-align: left !important;
    }
    .Datatable
    {
        padding: 10px;
    }
    .Generation_Name
    {
        text-align: center;
    }
    .filter_icon
    {
        display: block;
    }
    .control_section
    {
        display: block;     
        padding: 0px 0px 10px 0px;
        text-align: center !important;
    }
    .divToggel
    {
        padding-top: 10px;
    }
    .apply_button
    {
        display: block;
        text-align: center;
        padding-top: 5px;
    }
    .rg_Name
    {
        font-size: 10px !important;
    }
    .min_padding
    {
        padding: 12px 0px !important;
        line-height: 35px;
    }
    .Header_padding
    {
        padding: 0px !important;
    }
    .cal_icon_inter
    {
        margin-top: 12px;   
    }
    .link_section
    {
        padding: 20px 0px !important;
        font-size: 18px !important; 
    }
    .DateFilterText
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .leftLink
    {
        text-align: center !important;
        font-size: 14px;
        padding: 0px !important;
    }
    .rightLink
    {
        text-align: center !important;
        font-size: 14px; 
        padding: 0px !important;
    }
    .footerText
    {
        font-size: 15px;
        padding-top: 10px;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 110px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;

    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 0px !important;
    }
    .date_control
    {
        padding-left: 50px !important;
    }
    .Menu_Link
    {
        display: block;
    }
    .Menu_Link .menu-i{
        display: none;
    } 
    #txt_vpDate
    {
        margin-bottom: 15px;
    }
    .dygraph-rangesel-zoomhandle
    {
        /*top: 370px !important;*/
        top: 307px !important;    
        width : 15px !important;
        height: 25px !important;
    }
    .table_design
    {
        /*        width: 65% !important;*/
        overflow-x: auto;
    }
    .table_details
    {
        width: 1080px;
    }
    .height_div
    {
        display: none;
    }
    .Responsive_table
    {
        width: 1024px !important;
    }
    .table_section1{
        overflow-x: auto;
        padding: 0px !important;
    }
    .label_right
    {
        text-align: center;
    }
    .mob_link
    {
        display: inline;
    }
    .desktop_link
    {
        display: none;
    }
}

@media(min-width:801px) and (max-width:991px)/*Dekstop*/
{
    .MapPosition
    {
        padding-left: 70px !important;
    }
    .chart-table-toggle{
        display:none;
    }
}

@media(min-width:992px) and (max-width:1280px)/*Dekstop*/
{
    .app_title
    {
        text-align: center;
        font-size: 35px;
    }
    .sub_title
    {
        /*        color: #9c9696;*/
        font-size: 12px;

    }
    .Header_Menu 
    {
        display:none;
    }
    .Header_Logo
    {
        display:block;
        z-index: 1;
    }
    .divToggel
    {
        display:none;
    }
    .chart-table-toggle{
        display:none;
    }
    /* .MenuMobileView
     {
         display:none;
     }*/
    .MenuView
    {
        display:block;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:none;
    }
    .footer-mobile-menu{
        display:none;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:block;
    }
    .faq_link{
        display:block;
    }
    .divChart
    {
        display:block !important;
        overflow-x: hidden;
    }
    .TopMargin{

        cursor: text;
    }
    .SeprateLine{
        display: none;
    }
    .divTable
    {
        /*        width: 50% !important;*/
        display:block !important;
    }
    .sub_header
    {
        font-size: 16px;
        padding-bottom: 8px;
    }
    .headerLogo
    {
        padding: 15px 10px;
        /*        position: sticky !important;
                position: -webkit-sticky !important;
                top: -76px;*/
        z-index: 1000;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
    }
    .Datatable
    {
        padding-top: 60px;
    }
    .Generation_Name
    {
        text-align: right;
    }
    .control_section
    {
        display: block;
    }
    .apply_button
    {
        font-size: 15px;
        text-align: left;
        padding-top: 5px;
    }
    .link_section
    {
        padding: 15px 0px 0px 0px !important;
    }
    .Header_padding
    {
        padding-right: 0px !important;
    }
    .cal_icon{
        float: left !important;
        cursor: pointer !important;
        color: #000;
        /*        margin-top: -26px !important;      */
        margin-right: 5px;
    }
    .dd_GenControl
    {
        padding: 0px 5px !important;
    }
    .paddingLeftSection
    {
        padding-right: 0px !important;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 110px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;

    }
    .cal_icon_inter {
        margin-top: 5px;
    }
    .desktop_div_50
    {
        padding-bottom: 50px;
    }
    .control_section {
        display: block;
        margin-top: -7px;
    }
    .Menu_Link
    {
        display: none;
    }
    .sub_header_Inter
    {
        /*        padding: 5px 0px;
                font-size: 16px;*/
        padding: 0px 0px 10px 0px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .GenerationData_table
    {
        /*top: 75px;*/
        top: 25px;
    }
    .table_details
    {
        width: 100%;
    }
    .height_div
    {
        height: 150px;
        display: block;
    }
    .Responsive_table
    {
        width: 100% !important;
    }
    .label_right
    {
        text-align: right;
    }
    .mob_link
    {
        display: none;
    }
    .desktop_link
    {
        display: inline;
    }

}

@media(min-width:1281px) and (max-width:1440px)/*Dekstop*/
{
    .app_title
    {
        text-align: center;
        font-size: 35px;
    }
    .sub_title
    {
        /*        color: #9c9696;*/
        font-size: 12px;

    }
    .Header_Menu 
    {
        display:none;
    }
    .Header_Logo
    {
        display:block;
    }
    .divToggel
    {
        display:none;
    }
    .chart-table-toggle{
        display:none;
    }
    .MenuView
    {
        display:block;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:none;
    }
    .footer-mobile-menu{
        display:none;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:block;
    }
    .faq_link{
        display:block;
    }
    .divChart
    {
        display:block !important;
        padding-left: 30px !important;
        overflow-x: hidden;
    }
    .TopMargin{

        cursor: text;
    }
    .SeprateLine{
        display: none;
    }
    .divTable
    {
        /*        width: 50% !important;*/
        display:block !important;
    }
    .sub_title_table
    {
        font-size: 15px;
    }
    .app_title_table
    {
        font-size: 30px;
    }
    .sub_header
    {
        font-size: 16px;
        padding-bottom : 8px;
    }
    .headerLogo
    {
        padding: 5px 10px;
        /*        position: sticky !important;
                position: -webkit-sticky !important;
                top: -76px;*/
        z-index: 1000;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
    }
    .Datatable
    {
        padding-top: 60px;
    }   
    .Generation_Name
    {
        padding-top: 1px;
    }
    .control_section
    {
        display: block;
        margin-top: -7px;
    }
    .apply_button
    {
        font-size: 15px;
        text-align: left;
        padding-top: 5px;
    }
    .Header_padding
    {
        padding-right: 0px !important;
    }
    .link_section
    {
        padding:15px 0px 0px 0px !important; 
    }
    .control_section
    {
        text-align: left;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 115px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }
    .dd_GenControl
    {
        height: 30px !important;
        padding: 5px 5px !important;
    }
    .paddingRightSection
    {
        padding-right: 0px !important;
    }
    .paddingLeftSection
    {
        padding-left: 0px !important;
    }
    .ErrorDiv
    {
        padding-top: 20px;
    }
    .desktop_div_50
    {
        padding-bottom: 50px;
    }
    .Menu_Link
    {
        display: none;
    }
    .sub_header_Inter
    {
        /*        padding: 5px 0px;
                font-size: 16px;*/
        padding: 0px 0px 10px 0px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .GenerationData_table
    {
        /*top: 75px;*/
        top: 25px;
    }
    .table_details
    {
        width: 100%;
    }
    .height_div
    {
        height: 150px;
        display: block;
    }
    .Responsive_table
    {
        width: 100% !important;
    }
    .label_right
    {
        text-align: right;
    }
    .mob_link
    {
        display: none;
    }
    .desktop_link
    {
        display: inline;
    }

}

@media(min-width:1441px) and (max-width:1600px)/*Dekstop*/
{
    .app_title
    {
        text-align: center;
        font-size: 35px;
    }
    .sub_title
    {
        /*        color: #9c9696;*/
        font-size: 12px;
    }

    .Header_Menu 
    {
        display:none;
    }
    .Header_Logo
    {
        display:block;
    }
    .divToggel
    {
        display:none;
    } 
    .MenuView
    {
        display:block;
    }    
    /*trupti 05-03-2019*/
    .mobile-footer-menu{
        display:none;
    }
    .footer-mobile-menu{
        display:none;
    }
    /*trupti 07-03-2019*/
    .hindi_tran{
        display:block;
    }
    .faq_link{
        display:block;
    }
    .divChart
    {
        display:block !important;
        overflow-x: hidden;
    }
    .TopMargin{

        cursor: text;
    }
    .SeprateLine{
        display: none;
    }
    .divTable
    {
        width: 50% !important;
        display:block !important;
    }
    .sub_title_table
    {
        font-size: 20px;
    }
    .app_title_table
    {
        font-size: 35px;
    }
    .sub_header
    {
        font-size: 20px;
        padding-bottom: 8px;
    }
    .headerLogo
    {
        padding: 15px 10px;
        /*        position: sticky !important;
                position: -webkit-sticky !important;
                top: -76px;*/
        z-index: 1000;
    }
    .header_menu
    {
        font-size: 15px;
        padding: 15px 0px;
    }
    .Datatable
    {
        padding-top: 60px;
    }
    .Generation_Name
    {
        text-align: right;
    }
    .control_section
    {
        display: block;
    }
    .apply_button
    {
        font-size: 15px;
        text-align: left;
        padding-top: 5px;
    }
    .Header_padding
    {
        padding-right: 0px !important;
    }
    .cal_icon_inter  
    {
        margin-top: 5px;
    }
    .link_section
    {
        padding:15px 0px 0px 0px; 
    }
    .control_section
    {
        text-align: left;
    }
    .txtDate
    {
        height: 30px !important;
        padding: 0px 5px !important;
        float: left;
    }
    .IntertxtDate
    {
        width: 110px !important;
        height: 30px !important;
        padding: 0px 5px !important;
        display: inline-block !important;
    }

    .dd_GenControl
    {
        height: 30px !important;
        padding: 5px 5px !important;
    }
    .paddingRightSection
    {
        padding-right: 0px !important;
    }
    .paddingLeftSection
    {
        padding-left: 0px !important;
    }
    .ErrorDiv
    {
        padding-top: 20px;
    }
    .desktop_div_50
    {
        padding-bottom: 50px;
    }
    .Menu_Link
    {
        display: none;
    }
    .sub_header_Inter
    {
        font-size: 20px;
        padding: 5px 0px;
    }
    .GenerationData_table
    {
        /*top: 75px;*/
        top: 25px;
    }
    .table_details
    {
        width: 100%;
    }
    .height_div
    {
        height: 150px;
        display: block;
    }
    .Responsive_table
    {
        width: 100% !important;
    }
    .label_right
    {
        text-align: right;
    }
    .mob_link
    {
        display: none;
    }
    .desktop_link
    {
        display: inline;
    }

}
/*Dipti Media Query End*/


/*trupti 28-02-2019*/
/*@media(min-width:320px) and (max-width:991px) and (orientation: landscape)
{
    body{        
        background: url(../images/bg_image_app.png) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }   
}*/

@media(min-width:320px) and (max-width:991px)
{
    body{        
        background: url(../images/bg_image_app.png) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }    

    .LanguageTranslateText_hi {
        border: 1px solid #000;
        border-top: none;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        font-size: 14px !important;
        color: #fff;
        background-color: #000;
        padding: 0px 16px;
        padding-right: 30px;
        opacity: 0.6;
        cursor: pointer;
        /*transform: rotate(90deg);
            transform-origin: left bottom 0;*/
        text-align: center;
        position: fixed;
        top: 40px;
        right: -70px;
        z-index: 3;
        text-decoration: none;
        line-height: 35px;
    }

    .LanguageTranslateText_en_rtd {
        top : 49px !important;
        right: -20px !important;
    }   

    .LanguageTranslateText_en {
        top : 10px !important;
        right: -98px !important;
    }

}

/*END trupti 28-02-2019*/
.adjusted-col-xs-4{
    width: 30% !important;
}

.adjusted-col-xs-3{
    width: 10% !important;
}

@media (max-width:800px) and (orientation: portrait){
    .td-height-57{
        /*height: 57px;*/
    }
}

/*@media only screen and (orientation: landscape) {
  .Datatable {
    background-color: lightblue;
  }
}*/


.app_title.mobile_sec .page_org{
    padding-top: 50px;
}


@media(min-width:320px) and (max-width:991px) and (orientation: landscape){
    .divChart
    {
        display:block;
        padding-left: 0px !important;
        padding-top: 0px;
    }  

    .padding-top-25{
        padding-top: 0px !important;
    }
}


@media(min-width:320px) and (max-width:991px) and (orientation: landscape)
{
    body{        
        background: url(../images/bg_image.png) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    } 
}


@media(max-width:991px)
{    
    .Top_Padding{
        padding-top: 10px !important;

    }
}