
html
{
    font-size: 15px !important;
}
body
{
    font-size: 15px !important;
    /*    background: url('../images/bg_background.jpg');*/
    font-family: Calibri, Aparajita_cxb !important;
    background: url(../images/bg_image.png);
/*    background: url(../images/bg_image_1.png);*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -30px;
    -webkit-overflow-scrolling:touch;
}
table
{
    font-size: 15px !important;
}
.title_org
{
    text-transform: uppercase;
}
.title_org1
{
    text-transform: uppercase;
}
.header_sec
{
    padding: 15px;
}
.header_menu
{
    text-align: center;
}
.menuBox
{
    cursor: pointer;
    width: 10%;
    text-align: center;
    padding: 18px 0px;

}
.menuBox_mobile
{
    cursor: pointer;
    text-align: center;
    padding: 18px 0px;

}
.menuBox_full
{
    border:1px solid #dedede;
}
.menuBox_half
{
    border-top:1px solid #dedede;
    border-left:1px solid #dedede;
    border-bottom:1px solid #dedede;
}

/*.headerLogo
{
    text-align: center;
    background-color: #9e7b0d;
    color: #fff !important; 
    border-bottom: 5px solid #dfc98b;
}*/

.headerLogo
{
    text-align: center;
    color: #fff !important; 
}

.sub_header
{
    text-align: center;
    text-transform: uppercase;
    /*    font-size: 20px;
        padding: 20px;*/
}
/*.sub_header_Inter
{
    text-align: center;
    text-transform: uppercase;
}*/
.mobile_nav
{
    display: none;
}
.mobile_header
{
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}
.mobile_sec
{
    padding: 0px !important;
    color: #fff;
}
.nav_box
{
    text-align: center;
    cursor: pointer;
}
.nav_borderBox_left_top
{
    border-top: 1px solid #dfc98b;
    border-right: 1px solid #dfc98b;
    border-left: 1px solid #dfc98b;

}
.nav_borderBox_right_top
{
    border-top: 1px solid #dfc98b;
    border-right: 1px solid #dfc98b;
}
.nav_borderBox_left_top_Bottom
{
    border-top: 1px solid #dfc98b;
    border-right: 1px solid #dfc98b;
    border-left: 1px solid #dfc98b;
    border-bottom: 1px solid #dfc98b;

}
.nav_borderBox_right_top_Bottom
{
    border-top: 1px solid #dfc98b;
    border-right: 1px solid #dfc98b;
    border-bottom: 1px solid #dfc98b;
}

.nav_borderBox_left_top_desk
{
    /*    border-top: 1px solid #fff;*/
    /*    border-left: 1px solid #fff;*/
    /*    border-bottom: 1px solid #cccaca;*/

}
.nav_borderBox_right_top
{
    border-top: 1px solid #dfc98b;
    border-right: 1px solid #dfc98b;
}



.nav_details
{
    text-align: center;
    font-size: 15px;
    /*    border-top: 1px solid #f2f2f2;*/
    line-height: 17px; 
}
.box_section
{
    width: 10% !important;
    height: 105px !important;
    padding: 10px 0px;
    cursor: pointer;
    /*    background-color: #75c4ea;*/
    /*    background-color: #9e7b0d; */

    /*background-color: #ceac47;*/
    background-color: #1ba89a;
    color: #fff;
    /*border-right: 1px solid #e2c56d;*/
    /*border-right: 1px solid #fff;*/
    /*    text-transform: uppercase;*/
    border-top-right-radius: 45px;
    opacity: 0.9;
}
.Menu_section/* Dipti 20oct 2018*/
{
    /*padding: 4%;*/
    padding:12px;
    cursor: pointer;
    /*background: url(../images/bg_background.jpg);*/
    /*color: #9e7b0d;*/
    color: #18c3b3;
}
.zero_width
{
    width: 0px !important;
    padding : 0px !important;
}

#wrapper{
    /*    position: absolute;*/

}

.div_datatable{
    height:380px; 
    /*    overflow-y: scroll;*/

}
.menu_title
{
    text-decoration: none !important;
}

.LanguageTranslateText
{ 
    border: 1px solid #000; 
    border-top: none; 
    border-bottom-left-radius: 12px; 
    border-top-left-radius: 12px; 
    font-size: 14px !important; color: #fff; 
    background-color: #000; 
    padding: 0px 16px; 
    padding-right: 30px; 
    opacity: 0.6;
    cursor: pointer; /*transform: rotate(90deg); transform-origin: left bottom 0;*/ 
    text-align: center; 
    position: fixed; 
    top: 20px; 
    right: -70px; 
    z-index: 3; 
    text-decoration: none; 
    line-height: 35px; 

} 

.LanguageTranslateText:hover 
{ 
    color: #fff !important;  
    opacity: 1; 
    right: 0px; 
    text-decoration: none; 
}
.menu_icon
{
    padding-top: 10px;
}

.SelectedView{/* Dipti*/
    /*    background-color: #8edaff;*/
    background: #000 !important;
    /*    border-bottom: 1px solid #8edaff;*/
    /*    border-bottom : 1px solid #4fded0;*/
    /*color: #9e7b0d !important;*/
    color: #18c3b3 !important;
}
.sub_header
{
    /*    background-color: #4181a0;*/
    /*    background-color: #9e7b0d;*/
    /*    border-top:1px solid #b58e13;*/
    /*    color: #ffefbe;*/
    color: #fff;
}
.sub_header_Inter
/*{
    background-color: #9e7b0d   ;
    color: #ffefbe;
}*/
.cal_icon_inter  
{
    color: #000 !important;
    cursor: pointer;    
    margin-left: -25px;
}
.cal_icon 
{
    float:left;
    margin-top: 6px;
    margin-left: -22px;
    color: #000 !important;
    cursor: pointer;
}


.toggle-off
{
    background-color: #cccaca !important;
}
.footable > tbody > tr > td
{
    text-align: center !important;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
    background-color: #fff;
    /*border:1px solid #e8d496 !important;*/
    border:1px solid #f5f5f5 !important;

}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th
{
    /*background-color: #fff7ea !important;*/
    /*border:1px solid #ffe09c !important;*/
}
.footable > thead > tr > th, .footable > thead > tr > td
{
    border:1px solid #ffe09c;
    color: #000 !important;
}

.faq_Content{
    padding: 30px 40px !important;
    /*padding: 30px 0px !important;*/
    font-size: 16px;
    line-height: 30px;
}
.div_50
{
    height: 50px !important;
}
.div_100
{
    height: 100px !important;
}
.icon_menu
{
    font-size: 40px;
}
.textChange
{
    width:170px !important;
    float: left !important;
}
.cal_dashboard{
    float: left;
    margin-top: 7px;
    margin-left: -22px;
}
.filter_icon
{
    margin-top: 10px;
    display: block;
    color: #fff;
    font-size: 15px !important;
    cursor: pointer;

}
.btn_generation
{
    background-color: #4181a0 !important;
    width: 120px;
    border-color: #4181a0 !important;
}
.option_div{
    text-align: center;
    /*border: 1px solid #ffefbe;*/
    border-radius: 35px;
    margin-right: 5px;
    width:10%;
    padding: 8px 3%; 
    font-size: 14px;    
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
}
.close_icon
{
    padding-left: 5px;
    cursor: pointer;
}
.link_gen
{
    text-decoration: underline;
    cursor: pointer;
    color: #000 ;

}
.divChart
{
    overflow-y: hidden !important;
}
.menuOpen
{
    position: sticky !important;
    position: -webkit-sticky !important;
    bottom: -50px;
    text-align: center;
    z-index: 200;
}
.upDownIcon
{
    cursor: pointer;
    border: 1px solid #214d63;
    padding: 1px 24px;
    background-color: #0e1113;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 20px;
    opacity: 0.65;
    color: #fff;
}
.box_section:hover
{
    /*background-color: #9e7b0d;*/
    background-color: #000;
    color: #18c3b3 !important;
    opacity: 1 !important;

    /* background: url(../images/bg_background.jpg); */
}
.Header_Logo
{
    padding-left: 13px !important;
    padding-top: 9px;
}

.dygraph-legend {
    background-color: #fff !important;
    padding: 4px;
    border: 1px solid #ffe09c;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #888;
    pointer-events: none;
    width: 150px !important;
    color :#000 !important;
}
pre {
    margin-top: 30px;
}

.LangChangeLink
{
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #fff;
    border: 1px solid #ffefbe;
    border-radius: 5px;
    color: #fff !important;
    /*    border: 1px solid #ffefbe; */
}
.LangChangeLink:hover
{
    color: #9e7b0d !important;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;

}
.dygraph-ylabel
{
    margin-top: -12px;
}
.MenuMobileView
{
    /*background: url(../images/bg_background.jpg) !important;*/
    background-image: url(../images/bg_image_app.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.sub_heading_main
{
    padding-top: 4px;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.control_section
{
    /*background-color: #9e7b0d;*/
    display: inline;
}
.Menu_scroll
{
    /*    bottom:-50px !important;*/
    /*    opacity: 0.7;*/
}
/*.border_BottomHeading
{
    border-bottom: 1px solid #b58e13;
    background: #9e7b0d !important;
}*/
.dygraph-label
{
    color: #61c9ba;
}
tbody
{
    border: 1px solid #ffe09c !important;
}
#btn_apply
{
    background-color: #000 !important;
}
.close
{
    color: #fff !important;
    opacity: 1 !important;
}
.ApplyZIndex
{
    z-index: 1 !important;

}
.border_BottomHeading1 {
    /*border-bottom: 3px solid #dfc98b;*/
    /*background: #9e7b0d !important;*/
    background-image: url(../images/bg_image_app.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.sub_title
{
    text-transform: uppercase;
}
.btn-primary
{
    /*background-color: #9e7b0d !important;*/
    /*border-color: #9e7b0d !important;*/
    background-color: #18c3b3 !important;
    border-color: #18c3b3 !important;
}
.page_org
{
    text-transform: uppercase;
}
.Menu_section:active
{
    color: #fff !important;
    background: #18c3b3 !important;
}
#dataStuctureChart
{
    margin-left: -35px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }
.btn
{
    /*padding: 6px 20px !important;*/
    padding: 6px 15px !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
{
    background-color: #fff !important;
}
.toggle.btn {
/*    min-width: 70px !important;
    min-height: 34px !important;*/
    min-width: 55px !important;
    min-height: 34px !important;
}
.dygraph-legend
{
    display: none !important;
}
.dygraph-legend-line
{
    bottom: -0.5ex !important;
    border-bottom-width: 15px !important;
}
.legend_section
{
    height: 10px;
    text-align: center;
    padding-bottom: 20px;
}
@media (min-width: 768px)
{
    .modal-sm {
        width: 560px !important;
    }
}

.HeadingData
{
    /*color: #000 !important;*/
    color: #fff !important;
    text-decoration: underline;
    font-weight: bolder;
}
.HeadingData1
{
    /*color: #000 !important;*/
    color: #fff !important;
    text-decoration: underline;
    font-weight: bolder;
    text-decoration: none;
}



/*RTD App CSS start*/
.th_head
{
    text-align: center !important;
}
.box_section_RTD
{
    width: 10% !important;
    height: 105px !important;
    padding: 10px 0px;
    cursor: pointer;
    background-color: #ceac47;
    color: #fff;
    border-right: 1px solid #e2c56d;
}

.box_section_RTD:hover
{
    background-color: #9e7b0d;
    color: #fff;
    opacity: 1 !important;
}

/*Nutan:3jan2018*/

.td_center{
    text-align: center;
}

.Top_Padding{
    padding-top: 20px;

}
.horizontal-line{
    margin-top: 0px !important;
    margin-bottom: 19px !important;
}
.panel-default>.panel-heading
{
    /*    background-color: #dbc37c !important;*/
    /*background-color: #484026 !important;*/
    /*background-color: #e3dede !important*/
/*    color: #000 !important;*/
    color: #333 !important;
    border : none !important;
    background-color: #fff !important;
}
.panel-default
{
    background-color: transparent !important;
    border : none !important;
    box-shadow: none !important;
}
.MobileMenu
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 70%;
    /*background: #fff;*/
    /*height: 95%;*/
    height: 100%;
    z-index: 200;
    background: #006189;
}
.Option_sec
{
    /*padding: 8px 8px;*/
    /*border-bottom: 1px solid #e8d496;*/
    /*font-size: 16px;*/
    padding: 15px 2px 10px 2px;
    border-bottom: 1px solid #69828c;
    font-size: 16px;
}
.Menu_Head
{
    /*border-bottom: 1px solid #b58e13;
    background: #503d02 !important;*/
    /*border-bottom: 1px solid #b58e13;*/
    background: #000 !important;
    padding: 15px 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
        border-bottom: 1px solid #000000;
}
.SlideMenu_link
{
    /*color: #9e7b0d;*/
    color: #ffffff;
    text-decoration: none !important;
}
.SlideMenu_link :hover
{
    /*color: #000;*/
    color: #ffffff;
    text-decoration: none !important;
}
.SlideMenu_link :active
{
    /*color: #000;*/
    color: #ffffff;
    text-decoration: none !important;
}
.SlideMenu_link :visited
{
    /*color: #000;*/
    color: #ffffff;
    text-decoration: none !important;
}
.SlideMenu_link :focus
{
    /*color: #000;*/
    color: #ffffff;
    text-decoration: none !important;
}

.MobileMenuSection a:hover{
    color:#fff !important;
}

.MobileMenuSection a:active{
    color:#fff !important;
}
.MobileMenuSection a:visited{
    color:#fff !important;
}
.MobileMenuSection a:focus{
    color:#fff !important;
}
.col_panelTitle
{
    text-transform: uppercase;
}
/*.panel-title a:hover
{
    color: #fff !important;
}
.panel-title a:active
{
    color: #fff !important;
}
.panel-title a:visited
{
    color: #fff !important;
}
.panel-title a:focus
{
    color: #fff !important;
}*/
.MobileMenuSection
{
    border-right: 1px solid #e8d496;
    padding: 0px;
    /*height: 50%;*/
    /*height: 25%;*/
    overflow-y: auto;
    /*max-height: 375px;*/
    height: 75%;
}
.table_section
{
    /*    height: 315px;
        min-height: 315px;*/
    overflow-y: auto;
}
.collapse
{
    /*    border: 1px solid #484026;*/
    border: 1px solid #e3dede;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e7e8ed;
}
#Tooltip_NR
{
    padding: 10px;
    -moz-border-radius: 5px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    padding: 10px;
    width: 240px;
    font-size: 13px !important;
    line-height: 20px;
    height: 210px;
    z-index: 200;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 160px;
}


.TooltipDetails:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-top-color: #000;
    top:100%;
    left:40%;
    right: 60%;
    z-index: 20;
}
.padding_zero
{
    padding: 0px !important;
}
#Tooltip_SR
{
    padding: 10px;
    -moz-border-radius: 5px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    padding: 10px;
    width: 240px;
    font-size: 13px !important;
    line-height: 20px;
    height: 210px;
    z-index: 200;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 500px;
    left: 210px;
}
#Tooltip_WR
{
    padding: 10px;
    -moz-border-radius: 5px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    padding: 10px;
    width: 240px;
    font-size: 13px !important;
    line-height: 20px;
    height: 210px;
    z-index: 200;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 290px;
    left: 210px;
}
#Tooltip_ER
{
    padding: 10px;
    -moz-border-radius: 5px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    padding: 10px;
    width: 240px;
    font-size: 13px !important;
    line-height: 20px;
    height: 210px;
    z-index: 200;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 410px;
}
#Tooltip_NER
{
    padding: 10px;
    -moz-border-radius: 5px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    padding: 10px;
    width: 240px;
    font-size: 13px !important;
    line-height: 20px;
    height: 210px;
    z-index: 200;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 65px;
    left: 610px;
}
.footerLink
{
    text-align: center;
    padding-top: 10px;
}
.close_btn
{
    float: right;
    cursor: pointer;
    z-index: 1;
    color:#fff;
}
.panel_icon
{
    padding-right: 5px;
}
.table>thead>tr>th
{
    padding: 8px 2px;
}
.disclaimer
{
    color: #000;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: left;
}
.Table_sec_padding
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}


/*trupti 26-02-2019*/
/*Following classed added for new design */
.header-logo{
    text-align: center;
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.main-section-shadow-box{
/*    margin-right: 25px !important;
    margin-left: 25px !important;*/
    background-color: #f6f7fb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 60px;        
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.main-section-shadow-box.while-box{
    background-color:  #fff !important;
    padding-top: 15px;
    margin-right: 13px !important;
    margin-left: 13px !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-right{
    padding-left: 0px !important;
}

.margin-top-30{
    margin-top: 30px !impartant;
}

.gendata{
    /*margin-right: 25px !important;*/
    /*margin-left: 25px !important;*/
    margin-right: 13px !important;
    margin-left: 13px !important;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 60px;
    min-height: 450px;
}

.LanguageTranslateText_en {
    border: 1px solid #000;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 18px !important;
    color: #fff;
    background-color: #000;
    padding: 0px 16px;
    padding-right: 30px;
    opacity: 0.6;
    cursor: pointer;
    /*transform: rotate(90deg);
        transform-origin: left bottom 0;*/
    text-align: center;
    position: fixed;
    top: 40px;
    right: -90px;
    z-index: 3;
    text-decoration: none;
    line-height: 35px;
}

.LanguageTranslateText_en:hover {
    color: #fff !important;
    opacity: 1;
    right: 0px;
    text-decoration: none;
    transition: .5s ease;
}

.LanguageTranslateText_en a:hover {
    color: #fff !important;
}

.LanguageTranslateText_hi {
    border: 1px solid #000;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 14px !important;
    color: #fff;
    background-color: #000;
    padding: 0px 16px;
    padding-right: 30px;
    opacity: 0.6;
    cursor: pointer;
    /*transform: rotate(90deg);
        transform-origin: left bottom 0;*/
    text-align: center;
    position: fixed;
    top: 40px;
    right: -70px;
    z-index: 3;
    text-decoration: none;
    line-height: 35px;
}

.LanguageTranslateText_hi:hover {
    color: #fff !important;
    opacity: 1;
    right: 0px;
    text-decoration: none;
}

.LanguageTranslateText_hi a:hover {
    color: #fff !important;
}



.LanguageTranslateText_en_rtd {
    border: 1px solid #000;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 15px !important;
    color: #fff;
    background-color: #000;
    padding: 0px 16px;
    padding-right: 30px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    right: -25px;
    z-index: 3;
    text-decoration: none;
    line-height: 28px;
}

.LanguageTranslateText_en_rtd:hover {
    color: #fff !important;
    right: 0px;
    text-decoration: none;
    transition: .5s ease;
}

.LanguageTranslateText_en_rtd a:hover {
    color: #fff !important;
}

.footable > thead > tr > th{
    color: #fff !important;
}

.desktop_link
{
    top: 40px;
    background-color: #a791f7 !important;
}
.faq_link
{
    top: 75px;
    background-color: #a1ce40 !important;
}
.hindi_tran
{
    top: 110px;
    background-color: #ec8493 !important;
    /*right: -70px;*/
    right: -85px;
}

.hindi_tran:hover
{
    right: -28px !important;
}



.table-bordered > tbody > tr > td{
    background-image: linear-gradient(to right,rgba(255,255,255) , rgba(228,255,252)) !important;
}

.table-bordered > tbody > tr > td:first-child{
    /*        background-color: #46dbcc !important;*/
/*    background-color: #2fc9ba !important;
    color: #fff !important;
    background-image: none !important;
    font-weight: bold;*/
    font-size: 14px;
}

.table-bordered.first-td-bg > tbody > tr > td:first-child{
    background-color: #2fc9ba !important;
    color: #fff !important;
    background-image: none !important;
    font-weight: bold;
}

.text-white{
    color: #fff !important;
}

.padding-top-25{
    padding-top: 25px;
}

.add-overflow-x{
    overflow-x: auto;
}


@media(min-width:320px) and (max-width:991px)
{
    .add-overflow-x{
        overflow-x: scroll;
    }
}
/*END trupti 26-02-2019*/

/*trupti 04-03-2019*/
.heading-mobileview-menu{
    /*font-size: 18px;*/
    margin: 0;
    line-height: 40px;
    font-size: 20px;
}

.no-padding-horizontal{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.textcenter-align{
    text-align: center;
}

.inter-regional-value-box{
    /*min-height: 85px;*/
    border-radius: 7px;
    /*border:1px solid #f3f2f2;*/
    border:1px solid #e5e4e5;    
    margin: 10px;
}

.div-inter-regional-title{
    /*padding-top: 10px;*/  
    padding-top: 5px;   
    font-size: 20px;
    /*font-weight: 600;*/
}
.div-inter-regional-title span{
/*    font-size: 18px;*/
    font-size: 16px;
    margin-left: -10px;
}

.div-inter-regional-icon{
    padding-top: 9px
}

.div-inter-regional-icon i{
    font-size: 25px;
}

.inter-regional-title{    
}

.text-18c3b3{
    color: #18c3b3;
}

.text-18c3b3:hover{
    color: #18c3b3 !important;
    text-decoration: none;
}

.text-000000{
    color: #000000;
}

.box-f7f6fb{
    background-color: #f7f6fb;
}

.box-e7e8ed{
    background-color: #e7e8ed;    
}

.box-f0eff1{
    background-color: #f0eff1;
}

.box-ffffff{
    background-color: #ffffff;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.mobile-footer-menu{
    /*z-index: 2000;*/
    /*background-color: #fff;*/
    /*position: fixed !important;
    border-top: 1px solid #e2e2e2;
    width: 100%;*/
    position: sticky !important;
    position: -webkit-sticky !important;
    bottom: 0px;
    text-align: center;
    /*border-top: 1px solid #016b61;*/
    padding-top: 10px;
    background-color: #1ba89a;
    font-size: 12px;
    width: 100%;
    padding-bottom: 60px;   
    -webkit-box-shadow: 1px -2px 16px 0px rgba(1,107,97,1);
-moz-box-shadow: 1px -2px 16px 0px rgba(1,107,97,1);
box-shadow: 1px -2px 16px 0px rgba(1,107,97,1);
}

.mobile-footer-menu-new{
    background-color: #1ba89a;
    border-top: 1px solid #e2e2e2;    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.mobile-footer-menu-new:hover{
    bottom: -60px;
}
.mobile-footer-menu a{
    /*color: #5a5a59;*/
    color: #fff;
    cursor: pointer;
}

.mobile-footer-menu a:hover{
    color: #5a5a59;
    text-decoration: none;
}

.mobile-footer-menu a:active{
    text-decoration: none;
}

.mobile-inter-regional-value{
    width: 20% !important;
}

.mobile-footer-menu img{
    /*width: 50%;*/
}
/*END trupti 04-03-2019*/



/*trupti 15-March-2019*/
.div-inter-regional-title .col-xs-10{
    width: 80%;
}
.div-inter-regional-title .col-xs-2{
    width: 20%;    
    padding-top: 3px;
}


.inter-regional-value-box-a{
    
}


.inter-regional-value-box:hover{
    background-color: #d6d8e3;
}
.Option_sec i{
    padding-right: 10px;
}
.mobile-side-menu-wrapper{
    overflow-y: scroll;
    height: 500px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}

.float-right{
    float:right !important;
}

/*END trupti 15-March-2019*/








 div#footer{
    z-index: 200;
    position: sticky;
    bottom:0 ;
    width:100% ;
    /*height:71px ;*/
    padding-top: 10px;
    background-color: #18c3b3;
    font-size: 12px;
    padding-bottom: 10px;   
    -webkit-box-shadow: 1px -2px 16px 0px rgba(1,107,97,1);
    -moz-box-shadow: 1px -2px 16px 0px rgba(1,107,97,1);
    box-shadow: 1px -2px 16px 0px rgba(1,107,97,1);
}

div#footer a{
    /*color: #5a5a59;*/
    color: #fff;
    cursor: pointer;
}

div#footer a:hover{
/*    color: #5a5a59;
    text-decoration: none;*/
    text-decoration: none;
}

div#footer a:active{
    text-decoration: none;
}

.faq_img{
    content: url(../images/faq_icon.png);
}

.faq_img:hover{
    content: url(../images/faq_black_icon.png);
}

.faq_img:active{
    content: url(../images/faq_black_icon.png);
}

div#footer a:hover .faq_img{
    content: url(../images/faq_black_icon.png);
}

div#footer a:active .faq_img{
    content: url(../images/faq_black_icon.png);
}



.hindi_img{
    content: url(../images/hindi_icon.png);
}

.hindi_img:hover{
    content: url(../images/hindi_black_icon.png);
}

.hindi_img:active{
    content: url(../images/hindi_black_icon.png);
}

div#footer a:hover .hindi_img{
    content: url(../images/hindi_black_icon.png);
}

div#footer a:active .hindi_img{
    content: url(../images/hindi_black_icon.png);
}



.english_img{
    content: url(../images/english_icon.png);
}

.english_img:hover{
    content: url(../images/english_black_icon.png);
}

.english_img:active{
    content: url(../images/english_black_icon.png);
}

div#footer a:hover .english_img{
    content: url(../images/english_black_icon.png);
}

div#footer a:active .english_img{
    content: url(../images/english_black_icon.png);
}



.share_img{
    content: url(../images/share_icon.png);
}

.share_img:hover{
    content: url(../images/share_black_icon.png);
}

.share_img:active{
    content: url(../images/share_black_icon.png);
}

div#footer a:hover .share_img{
    content: url(../images/share_black_icon.png);
}

div#footer a:active .share_img{
    content: url(../images/share_black_icon.png);
}





.help_img{
    content: url(../images/help_icon.png);
}

.help_img:hover{
    content: url(../images/help_black_icon.png);
}

.help_img:active{
    content: url(../images/help_black_icon.png);
}

div#footer a:hover .help_img{
    content: url(../images/help_black_icon.png);
}

div#footer a:active .help_img{
    content: url(../images/help_black_icon.png);
}


/*div#footer .footer-block:active{
    text-decoration: none;
    background-color: black;
    color: #fff;
}

div#footer .footer-block:hover{
    text-decoration: none;
    background-color: black;
    color: #fff;
}*/


.state_div span {
    padding-left: 10px;
    padding-right: 20px;
}

.region_div span {
    padding-left: 10px;
    padding-right: 20px;
}

.tiles-text{
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 15px;
    padding-top: 5px;
}