﻿.gen_all_India_btn {
    background: url('../images/all-india-generation-button.png')no-repeat center top 100%;
    margin-left: 15px;
    width: 146px;
    height: 37px;
    background-size: cover;
}

.gen_all_India_btn:hover {
    background: url('../images/all-india-generation-hover-button.png')no-repeat center top 100%;
    margin-left: 15px;
    width: 146px;
    height: 37px;
    background-size: cover;
}

.gen_all_india_px {
    background: url('../images/Go-to-dashboard-button.png')no-repeat center top 100%;
    width: 146px;
    height: 37px;
}

.gen_all_india_px:hover {
    background: url('../images/Go-to-dashboard-hover-button.png')no-repeat center top 100%;
    width: 128px; /*dishant*/
    height: 37px;
    background-size: cover;
    margin-left: 10px;
}

.gen_regionional_btn {
    background: url('../images/all-india-regional-button.png')no-repeat center top 100%;
    width: 146px;
    height: 37px;
    margin-right: 21px;
    background-size: cover;
}

.gen_regionional_btn:hover {
    background: url('../images/all-india-regional-hover-button.png')no-repeat center top 100%;
    width: 146px;
    height: 37px;
    margin-right: 21px;
    background-size: cover;
}

.rg_Subsection {
    border-right: 1px dotted #aaa; /*dishant*/
}

.sub_gen_title {
    text-align: center;
    padding-top: 29px;
}


.gen_title {
    border: 1px solid #cacac8;
    background-color: #f3f3f3;
    font-family: Calibri;
    padding: 6px 0px; /*dishant*/
    margin-bottom: 5px; /*dishant*/
}

.gen_section {
    padding-right: 5px;
    padding-left: 5px;
}

.gen_rg_section {
    padding: 10px 5px 0px 5px;
}

.gen_state_value {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

.in-jk-region {
    fill: #ffa800;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-jk-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-an-region {
    fill: #eeeeed;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-an-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ap-region {
    fill: #988cc8;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ap-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-te-region {
    fill: #a79bdb;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-te-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-wb-region {
    fill: #fe7b3b;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-wb-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ld-region {
    fill: #eeeeed;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ld-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-py-region {
    fill: #b4a9e6;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-py-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-mz-region {
    fill: #70ddfd;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-mz-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-as-region {
    fill: #01b6ec;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-as-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-pb-region {
    fill: #fdc559;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-pb-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ga-region {
    fill: #fdb5b5;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ga-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-gj-region /*gujrat*/ {
    fill: #fd7979;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-gj-region:hover /*gujrat*/ {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-hr-region {
    fill: #fbd07e;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-hr-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-nl-region {
    fill: #1bc9fd;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-nl-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-mn-region {
    fill: #48d5ff;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-mn-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-tr-region {
    fill: #84e2fe;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-tr-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-mp-region {
    fill: #fd8989;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-mp-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ct-region {
    fill: #fdafaf;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ct-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ar-region {
    fill: #02abde;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ar-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ml-region {
    fill: #00c4ff;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ml-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-kl-region {
    fill: #5d4e92;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-kl-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-tn-region {
    fill: #8378aa;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-tn-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ka-region {
    fill: #8b80b5;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ka-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-mh-region {
    fill: #fe9c9c;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-mh-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-or-region {
    fill: #ff691f;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-or-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-dn-region {
    fill: #fbc86d;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-dn-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-dl-region {
    fill: #fce9c3;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-dl-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-hp-region {
    fill: #fdaf19;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-hp-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-rj-region {
    fill: #fddb99;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-rj-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-up-region {
    fill: #fbe0ab;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-up-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ut-region {
    fill: #fdba39;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ut-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-jh-region {
    fill: #fd5f11;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-jh-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-ch-region {
    fill: #fde5bc;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-ch-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-br-region {
    fill: #ff5400;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-br-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-sk-region {
    fill: #fd8e57;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-sk-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-dd-region {
    fill: #fbc86d;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-dd-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.in-dn-region {
    fill: #fd7979;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.in-dn-region:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.north {
    fill: #f9c96c;
    fill-opacity: 1;
    stroke: #f9c96c;
    cursor: pointer;
}

.north:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}

.west {
    fill: #f3a8a8;
    fill-opacity: 1;
    stroke: #f3a8a8;
    cursor: pointer;
}

.west:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}

.south {
    fill: #a79bdb;
    fill-opacity: 1;
    stroke: #a79bdb;
}

.south:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}

.east {
    fill: #ee8f60;
    fill-opacity: 1;
    stroke: #ee8f60;
    cursor: pointer;
}

.east:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}

.northeast {
    fill: #a0e9ff;
    fill-opacity: 1;
    stroke: #a0e9ff;
    cursor: pointer;
}

.northeast:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #ffe968;
    cursor: pointer;
}

.nepal {
    fill: #9dabf7;
    fill-opacity: 1;
    stroke: #9dabf7;
}

.Island {
    fill: #eeeeed;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.Island:hover {
    fill: #ffe968;
    fill-opacity: 1;
    stroke: #939598;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
}

.Nepal_map {
    position: absolute;
    top: 293px;
    left: 313px;
}

.bangladesh {
    fill: #a2eb9b;
    fill-opacity: 1;
    stroke: #a2eb9b;
}

.bhutan {
    fill: #e1ec5f;
    fill-opacity: 1;
    stroke: #e1ec5f;
}

.outer_div_country {
    position: relative;
}

.value_northern_region {
    position: absolute;
    top: 343px;
    left: 177px;
    line-height: 1px;
}

.value_souther_region {
    position: absolute;
    top: 708px;
    left: 194px;
    line-height: 1px;
}

.rg_Name {
    font-size: 15px;
}

.value_western_region {
    position: absolute;
    top: 518px;
    left: 198px;
    line-height: 1px;
}

.value_eastern_region {
    position: absolute;
    top: 478px;
    left: 411px;
    line-height: 1px;
}

.value_north_eastern_region {
    position: absolute;
    top: 302px;
    left: 611px;
    line-height: 12px;
}

.value_bangladesh {
    position: absolute;
    top: 431px;
    right: 161px;
}

.value_bhutan {
    position: absolute;
    top: 330px;
    right: 171px;
}

.value_nepal {
    position: absolute;
    top: 339px;
    left: 382px;
}

.value_jammu_kashmir {
    position: absolute;
    top: 140px;
    left: 0;
    right: -41px;
}

.NR_Ne_value {
    position: absolute;
    top: 315px;
    left: 270px;
    line-height: 1px;
}

.NER_ER_value {
    position: absolute;
    top: 404px;
    left: 600px;
    line-height: 1px;
}



.ER_WR_value {
    position: absolute;
    top: 525px !important;
    left: 450px;
    line-height: 1px;
}

.ER_NER_value {
    position: absolute;
    top: 447px;
    left: 594px;
}

.WR_ER_value {
    position: absolute;
    top: 505px;
    left: 421px;
    line-height: 1px;
}

.SR_WR_value {
    position: absolute;
    top: 600px;
    left: 226px;
    line-height: 1px;
}

.WR_SR_value {
    position: absolute;
    top: 674px;
    left: 192px;
}

.NR_NER_value {
    position: absolute;
    top: 431px;
    left: 370px;
    line-height: 1px;
}

.NER_NR_value {
    position: absolute;
    top: 432px;
    left: 568px;
    line-height: 1px;
}

.ER_SR_value {
    position: absolute;
    line-height: 1px;
    top: 672px;
    left: 0px;
    right: 160px;
}

.SR_ER_value {
    position: absolute;
    line-height: 1px;
    top: 586px;
    left: 376px;
}

.rg_jammu_kashmir {
    position: absolute;
    top: 148px;
    left: 37px;
    right: 0px;
}

.rg_StateName {
    font-size: 16px;
    line-height: 1px;
}

.rg_uttar_pradesh {
    position: absolute;
    top: 405px;
    left: 269px;
    right: 0px;
}

.rg_uttarakhand {
    position: absolute;
    top: 288px;
    left: 193px;
    right: 0px;
}

.rg_delhi {
    position: absolute;
    top: 357px;
    left: 114px;
    right: 0px;
}

.rg_himachal_pradesh {
    position: absolute;
    top: 246px;
    left: 110px;
    right: 0px;
}

.rg_haryana {
    position: absolute;
    top: 339px;
    right: 0px;
    left: 15px;
}

.rg_punjab {
    position: absolute;
    top: 285px;
    right: 0px;
    left: -41px;
}

.rg_rajasthan {
    position: absolute;
    top: 413px;
    right: 87px;
    left: -41px;
}

.rg_maharashtra {
    position: absolute;
    top: 421px;
    left: 0px;
    right: 84px;
}

.rg_madhya_pradesh {
    position: absolute;
    top: 237px;
}

.rg_goa {
    position: absolute;
    top: 613px;
    left: 20px;
    right: 172px;
}

.rg_gujarat {
    position: absolute;
    top: 244px;
    left: 0px;
    right: 415px;
}

.rg_chhattisgarh {
    position: absolute;
    top: 329px;
    right: 0;
    left: 500px;
}

.rg_dadra_and_nagar_haveli {
    position: absolute;
    top: 390px;
    left: 0px;
    right: 473px;
}

.rg_daman_and_diu {
    position: absolute;
    left: 0px;
    right: 505px;
    top: 369px;
}

.rg_karnataka {
    position: absolute;
    top: 280px;
    left: 0px;
    right: 367px;
}

.rg_kerala {
    position: absolute;
    top: 538px;
    left: 0px;
    right: 265px;
}

.rg_andhra_pradesh {
    position: absolute;
    top: 299px;
    left: 0px;
    right: 78px;
}

.rg_puducherry {
    position: absolute;
    top: 228px;
    left: 326px;
    right: 0px;
}

.rg_telangana {
    position: absolute;
    top: 165px;
    left: 0px;
    right: 37px;
}

.rg_tamil_nadu {
    position: absolute;
    top: 480px;
    left: 0px;
    right: 105px;
}

.rg_west_bengal {
    position: absolute;
    top: 325px;
}

.rg_jharkhand {
    position: absolute;
    top: 320px;
    left: 0px;
    right: 183px;
}

.rg_odisha {
    position: absolute;
    top: 447px;
    left: 0px;
    right: 185px;
}

.rg_sikkim {
    position: absolute;
    top: 90px;
    left: 170px;
    right: 0px;
}

.rg_bihar {
    position: absolute;
    top: 191px;
    left: 0px;
    right: 88px;
}

.rg_tripura {
    position: absolute;
    top: 446px;
    left: 0px;
    right: 302px;
}

.rg_meghalaya {
    position: absolute;
    top: 344px;
    left: 0px;
    right: 342px;
}

.rg_manipur {
    position: absolute;
    top: 389px;
    left: 0px;
    right: 56px;
}

.rg_mizoram {
    position: absolute;
    top: 461px;
    left: 0px;
    right: 177px;
}

.rg_nagaland {
    position: absolute;
    top: 312px;
    left: 2px;
    right: 0px;
}

.rg_arunachal_pradesh {
    position: absolute;
    top: 173px;
    left: 36px;
    right: 0px;
}

.rg_assam {
    position: absolute;
    top: 286px;
    left: 0px;
    right: 176px;
}

.NER_bg_value {
    position: absolute;
    line-height: 1px;
    top: 482px;
    right: 0px;
    left: 351px;
}

.Bg_NER_value {
    position: absolute;
    line-height: 1px;
    top: 483px;
    right: 83px;
}

.NR_ER_value {
    position: absolute;
    line-height: 1px;
    top: 413px;
    left: 420px;
}

.ER_NR_value {
    position: absolute;
    line-height: 1px;
    top: 415px;
    left: 0px;
    right: 90px;
}

.NR_WR_value {
    position: absolute;
    line-height: 1px;
    left: 206px;
    top: 388px;
}

.WR_NR_value {
    position: absolute;
    left: 244px;
    top: 475px;
    line-height: 1px;
}

.Ne_NR_value {
    position: absolute;
    line-height: 1px;
    left: 0px;
    top: 322px;
    right: 322px;
}

.Bh_NER_value {
    position: absolute;
    line-height: 1px;
    left: 609px;
    top: 378px;
}

.NER_Bh_value {
    position: absolute;
    line-height: 1px;
    right: 155px;
    top: 377px;
}

.ER_Ne_value {
    position: absolute;
    line-height: 1px;
    right: 0px;
    left: 198px;
    top: 374px;
}

.Ne_ER_value {
    position: absolute;
    line-height: 1px;
    left: 461px;
    top: 513px;
}

.ER_Bh_value {
    position: absolute;
}

.Bh_ER_value {
    position: absolute;
    line-height: 1px;
    left: 352px;
    right: 0px;
    top: 372px;
}

.rg_tranfer_value {
    font-size: 12px;
    color: #000000;
}

.NR_SR_value {
    position: absolute;
    top: 427px;
    left: 132px;
    width: 0px;
}

.NR_Bh_value {
    position: absolute;
    top: 361px;
    left: 316px;
    width: 0px;
}

.WR_NER_value {
    position: absolute;
    top: 497px;
    left: 324px;
    width: 0px;
}

.WR_Ne_value {
    position: absolute;
    top: 436px;
    left: 289px;
    width: 0px;
}

.WR_Bg_value {
    position: absolute;
    top: 514px;
    left: 318px;
    width: 0px;
}

.SR_NER_value {
    position: absolute;
    width: 0px;
    top: 613px;
    left: 340px;
}

.NER_Ne_value {
    position: absolute;
    left: 623px;
    top: 337px;
}

.NR_Bg_value {
    position: absolute;
    top: 434px;
    left: 394px;
}

.ER_Bg_value {
    position: absolute;
    top: 434px;
    left: 450px;
}

.SR_Bg_value {
    position: absolute;
}

.SR_Bh_value {
    position: absolute;
}

.SR_Ne_value {
    position: absolute;
}

.WR_Bh_value {
    position: absolute;
    top: 435px;
    left: 395px;
}

.WR_SR_value {
    position: absolute;
    top: 680px;
    left: 232px;
    line-height: 1px;
}