﻿#page-heading { font-family:Monotype Corsiva; font-size:24px; font-weight:bold; text-decoration:none; color:#202020; display:block; float:inherit; width:100%; 
border-bottom:1px solid #CBCBCB; height:40px; margin-bottom:20px;
}
.text-orange{ font-family: Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none; line-height:18px; color:#ff7013;}
.blue-link{ font-family: Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none; line-height:18px; color:#008DA9;}

.text{ font-family: Monotype Corsiva; font-size:16px;  line-height:22px; }
#welcome{font-size:14px;color:Black;font-weight:bold;vertical-align: top;text-align:right;}



#welcomeusername{font-size:14px;text-align:right;color:#85C936;font-weight:bold;vertical-align:bottom;text-align:right;padding-left:20px;}

.btn1y
{
		

background-image:url('~/Images/q1yes.png');
background-repeat:no-repeat;
height:45px;
width:45px;
	
}
.btn1y a:hover
{
background-image:url('~/Images/q1yes-hover.png');
background-repeat:no-repeat;
height:45px;
width:45px;
		
}
 .selected { font: bold 18px Arial, Helvetica, sans-serif; color:#FF0000; }
       .selected1 { font: bold 18px Arial, Helvetica, sans-serif; color:#FF00FF; }
   

.navigationDiv a {
   text-decoration:none;
   display:block;
   color:black;
   margin-bottom:5px;
}



.navigationDiv a.selected {
   text-decoration:underline;
}

.a-link-text:link, .a-link-text:visited
{
	font-family: Times New Roman, Book Antiqua,Arial, Helvetica;
	color: #FF7429;
	font-size: 13px;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0px;
}
.a-link-text:hover{ font-family: Times New Roman, Book Antiqua,Arial, Helvetica; font-size:13px; text-decoration:underline; padding:0px 0px 0px 0px;margin:0 0 0 0px;}

.a-link-text-big:link, .a-link-text-big:visited
{
	font-family: Times New Roman, Book Antiqua,Arial, Helvetica;
	color: #FF7429;
	font-size: 18px;
	text-decoration: underline;
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0px;
}
.a-link-text-big:hover{ font-family: Times New Roman, Book Antiqua,Arial, Helvetica; color:#777777; font-size:18px; text-decoration:underline; padding:0px 0px 0px 0px;margin:0 0 0 0px;}


.a-link:link, .a-link:visited{ font-family: Times New Roman, Book Antiqua,Arial, Helvetica; color:#FF7429; font-size:12px; text-decoration:underline; line-height:18px; padding:0px 5px;}
.a-link:hover{ font-family:Times New Roman, Book Antiqua,Arial, Helvetica; color:#FFFFFF; font-size:12px;  text-decoration:underline; line-height:18px; padding:0px 5px;}



.button-middle{background-image:url(../Images/button-black-middle.png);background-repeat:repeat-x;height:35px;text-align:left;vertical-align:middle;}

.bg-top{background-image:url(../Images/green-devider.png);background-repeat:repeat-x;}
.bg-top-left{background-image:url(../Images/left-top-bg.png); background-repeat:no-repeat;margin:0 0 0 0;padding:0 0 0 0;width:24px;height:24px;}
.bg-top-right{background-image:url(../Images/right-top-bg.png); background-repeat:no-repeat;margin:0 0 0 0;padding:0 0 0 0;width:24px;height:24px;}
.bg-bottom-left{background-image:url(../Images/left-bottom-bg.png); background-repeat:no-repeat;margin:0 0 0 0;padding:0 0 0 0;width:24px;height:24px;}
.bg-bottom-right{background-image:url(../Images/right-bottom-bg.png); background-repeat:no-repeat;margin:0 0 0 0;padding:0 0 0 0;width:24px;height:24px;}
.bg-bottom{background-image:url(../Images/green-devider.png);background-repeat:repeat-x;background-position:bottom;}

.bg-left{background-image:url(../Images/green-devider.png);background-repeat:repeat-y;}

.bg-right{background-image:url(../Images/green-devider.png);background-repeat:repeat-y;background-position:right;}

.footer-left{background-image:url(../Images/footer-left.png);background-repeat:repeat-x;vertical-align:bottom;height:19px;background-color:#000000;}	

.footer-right{background-image:url(../Images/footer-right.png);background-repeat:repeat-x;height:57px;vertical-align:bottom;background-color:#000000;}

.footer-text{color:#FFFFFF;font-size:11px;font-family:Times New Roman, Book Antiqua,Arial, Helvetica;padding-right:20px;line-height:15px;}
.footer-text1{color:#000;font-size:12px;font-family:Times New Roman, Book Antiqua,Arial, Helvetica;padding-right:20px;line-height:15px;}

#wapper{height:auto; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
#welcome{font-size:14px;color:Black;font-weight:bold;padding-left:0px;vertical-align:top;text-align:right;}
#welcomeusername{font-size:14px;text-align:right;color:#85C936;font-weight:bold;padding-right:0px;vertical-align:top;}
.menu{background-image:url('../Images/button-bg.png');
background-repeat:repeat-x;height:10px;
}
.line{background-image:url(../Images/button-bg.png);background-repeat:repeat-x;height:15px;}

#menu1{width:100%;     
       }

#menu1 ul{
	list-style:none;
	margin:0px auto;
	padding:0px;
	border:0 none;
		
}
#menu1 ul li{
	list-style:none;
	display:block;
	float:left;
	padding:0 0 0 0;
	margin:0 2px 0 0;
	cursor:pointer;			
	height:35px;
			
}
#menu1 ul li a
{
	display:block;
	float: left;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: normal;
	font-family:Times New Roman, Book Antiqua,Arial, Helvetica;	
	line-height: 30px;	
	padding: 0 0 0 0;
	text-decoration: none;
	outline: none;
	border: 0 none;	
	height:35px;
	cursor:pointer;	
}
.menu-left
{
	display:block;
	float: left;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	background-color:#000000;	
	padding: 0 0 0 0;
	text-decoration: none;
	outline: none;
	border: 0 none;	
	background:url(../Images/button-black-left.png) no-repeat left; outline:none; border:0 none; 
	height:35px;
	width:14px;
	
}
.menu-right
{
	display:block;
	float: left;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;		
	padding: 0 0 0 0;
	text-decoration: none;
	outline: none;
	border: 0 none;	
	background:url(../Images/button-black-right.png) no-repeat left; outline:none; border:0 none; 
	height:35px;
	width:14px;
}
.menu-center{
	display:block;
	float:left;	
	color:#ffffff;
	background-color:#000000;		
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;	
	padding-bottom:0px; outline:none;
	background:url(../Images/button-black-middle.png) repeat-x; outline:none; border:0 none; 
	height:35px;
}
#menu1 ul li a:hover .menu-left {
	display:block;
	float:left;
	color:#4b3d5c;
	background-color:#799c13;	
	background:url(../Images/button-onhover-left.png) no-repeat right; outline:none; border:0 none;
	height:35px;	
}
.menu-center:hover{
	display:block;
	float:left;
	color:#4b3d5c;
	background-color:#799c13;	
	background:url(../Images/button-onhover-middle.png) repeat-x; outline:none; border:0 none;
	height:35px;	
}
#menu1 ul li a:hover .menu-center{
	display:block;
	float:left;
	color:#4b3d5c;
	background-color:#799c13;	
	background:url(../Images/button-onhover-middle.png) repeat-x; outline:none; border:0 none;
	height:35px;	
}
#menu1 ul li a:hover .menu-right{
	display:block;
	float:left;
	color:#4b3d5c;
	background-color:#799c13;	
	background:url(../Images/button-onhover-right.png) no-repeat left; outline:none; border:0 none;
	height:35px;	
}
#tooltips { width:auto; height:auto}
#tooltips a:hover { background:#ffecce; text-decoration:none; } /*BG color is a must for IE6*/
#tooltips a.tooltip span { display:none; padding:2px 3px; margin-left:8px; width:200px; }
#tooltips a.tooltip:hover span { display:inline; position:absolute; background:#ffecce; }
/*grid styles*/
.legend
{
    color: #538BFF;
    font-weight: bold;
    cursor: pointer;
}
.grid
{
    text-align: left;
    width: 100%;
    line-height:20px;
    word-break:break-all;
    font-size:13px;
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  

    
}
.gridheader
{
    background-color: #5F2FAD;
    font-weight: bold;
    color: #FFFFFF;
    height: 24px;
    text-align: center;
}
.griditem
{
    background-color: #EDE9F5;
    text-align: center;
}
.gridaltitem
{
    background-color: #FFFFFF;
    text-align: center;
}
.griditem td, .gridaltitem td
{
    padding-left: 5px;
    padding-right: 5px;
}
.griditem:hover, .gridaltitem:hover
{
    background-color: #ff8073; /*#FFFFCC;*/
    color:#fff;
}
.griditem a, .gridaltitem a
{
    color: #009999;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
}
.griditem a:hover, .gridaltitem a:hover
{
    text-decoration: underline;
    color:#009999;
}

.gridheadertable1
{
	font-weight: bold;
	padding: 5px 8px;
	height: 36px;
	text-align: center;
	background-color: #412273;
	color: #FFFFFF;
	margin-left:15px;
	border: 1px solid #AACBD2;
}
.gridheadertable2
{
	font-weight: bold;
	padding: 5px 8px;
	height: 20px;
	text-align: left;
	background-color: #008EAB;
	color: #FFFFFF;
	
}
.gridtable th
{
	font-weight: bold;
	padding: 5px 8px;
	color: #FFFFFF;



}

.gridPagerStyle
{ 
	font-weight: bold;
	background-color:#b8dce3;
	color: Black; 

	
	}
	
	
	.Button-bg
{ 
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.Button-bg {
	display: inline-block;
  *	border-left: 0 none #e6e6e6;
	border-right: 0 none #e6e6e6;
	border-top: 0 none #e6e6e6;
	border-bottom: 0 none #b3b3b3;
	display: inline;
  	/*padding: 4px 10px 4px;
  	margin-bottom: 0;
  	margin-left:100px;
  	margin-right:15px;*/
  	font-size: 13px;
  line-height: 18px;
  *	line-height: 20px;
  	color: #333333;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	vertical-align: middle;
  	cursor: pointer;
  background-color: #f5f5f5;
  *	background-color: #e6e6e6;
  	background-repeat: repeat-x;
  *	-webkit-border-radius: 4px;
     	-moz-border-radius: 4px;
          	border-radius: 4px;
  	zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);*


}

.Button-bg:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}


.rounded {
background:  url(../Images/rounded.gif) no-repeat left top;

padding: 8px;
}
.textbold
{
	
	font-weight:bold;
	}
	
	.bigTxt{ width:250px; font-family:Times New Roman, Book Antiqua,Arial, Helvetica; color:#303030; font-size:22px; text-decoration:none; font-weight:normal;resize:none;color:#AAAAAA;margin-left:10px;}
	
	.txt
	
	{
		font-family:Times New Roman, Book Antiqua,Arial, Helvetica; font-size:24px; font-weight:bold; 
		
		}